
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.center {
  margin: auto;
  text-align: center;
}


a {
  padding: 10px;
}
 a:link {
   color: purple;
 }
 
 a:visited {
   color: green;
 }
figcaption{
  font-size: 12px;
  
}
 section#featured-property{
   color: gray;
   padding: 40px;
   border: 10px;
 }
 #featured-property p {
   width: 400px;
   text-align: center;
   margin:0 auto;
 }

#details div {
  display: block;
  background-color: yellow;
  float: left;
  text-align: center;
  width: 25%;
  
}
